.outerWrapper {
  background-color: #000;
  min-height: 85vh;
  margin-bottom: 12rem;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("../../public/images/home/desktop/image-hero.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.container {
  max-width: 111rem;
  margin: 0 auto;
  padding: 0;
}

.innerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroTextbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16rem 0;
  width: 50%;

  gap: 2.4rem;
}

.heroNewProduct {
  font-size: 1.4rem;
  letter-spacing: 10px;
  font-weight: 200;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.5;
}

.heroTitle {
  color: #fff;
}

.heroText {
  color: #fff;
  opacity: 0.75;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 25px;
  width: 60%;
}

.heroButton:link,
.heroButton:visited {
  display: inline-block;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: #fff;
  background-color: #d87d4a;
  text-decoration: none;
  border: none;

  cursor: pointer;

  position: relative;

  transition: all 0.3s ease;

  margin-top: 1.6rem;
}

.heroButton:hover {
  background-color: #fbaf85;
}

.heroImg {
  max-height: 80rem;
  max-width: 80rem;
}

@media screen and (max-width: 75em) {
  .container {
    margin-inline: 5rem;
  }

  .outerWrapper {
    background-color: #000;
    min-height: 90vh;
    margin-bottom: 12rem;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url("../../public/images/home/tablet/image-header.jpg");
    background-position: bottom;
  }

  .innerWrapper {
    align-items: center;
    justify-content: center;
  }

  .heroTextbox {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .heroText {
    width: 85%;
  }
}

@media screen and (max-width: 53em) {
  .heroText {
    width: 75%;
  }
  .heroTextbox {
    width: 100%;
  }
  .innerWrapper {
    width: 100%;
    gap: 0;
  }
  .heroNewProduct {
    text-wrap: nowrap;
  }
  .container {
    margin-inline: 2rem;
  }
}
