.header {
  background-color: #111;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3.2rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.headerDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 3.4rem;
}

.navButton:link,
.navButton:visited {
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  background-color: inherit;
  color: #fff;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 25px;
  transition: all 0.2s ease;
  text-decoration: none;
  font-size: 1.3rem;
}

.navButton:hover {
  color: #d87d4a;
}

.cartButton {
  display: inline-block;
  background-color: inherit;
  border: none;

  cursor: pointer;
}
